include testfiles/*.sxw
include testfiles/*.stw
include testfiles/*.odt
include testfiles/x.csv
include ooopy/*.py
include README
include default.css
include README.html
include run_doctest.py
include bin/*
